@page
@model Installment.Pages.Products.IndexModel
@{
}

    
<h1>Product List</h1>


<a asp-page="./Add" class="ml-auto" style="display: flex;
        justify-content:end;
        align-items: center;">
            <button type="submit" class="icon-button">
                <i data-feather="plus-circle"></i>
                Add Product
            </button>
</a>
    

<style>
    .icon-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        font-size: 16px; /* Adjust the font size to control the size of the icon */
        color: var(--bs-primary); /* Adjust the color as needed */
    }

        .icon-button:focus {
            outline: none;
        }
</style>
<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>CompanyId</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>@product.CompanyId</td>
                <td>
                    <div class="row">
                        <div class="col-md-6">
                            <form method="post" asp-page-handler="Delete" asp-route-id="@product.Id">
                                <button type="submit" class="icon-button">
                                    <i data-feather="trash-2"></i>
                                </button>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <a asp-page="./Edit" asp-page-handler="Update" asp-route-id="@product.Id" >
                                <button type="submit" class="icon-button">
                                    <i data-feather="edit-2"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


