@page
@model Installment.Pages.Manage.Product.ProductIndexModel
@{
    ViewData["Title"] = "Products";
}
<style>
    #optimize-notification-btn {
        margin-top: -20px;
    }
</style>

<!-- Top Header -->
<div class="row">
    <div class="col-md-6">
        <h3>Products</h3>
        <nav class="page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Index">Dashboard</a></li>
                <li class="breadcrumb-item " aria-current="page">Products</li>
            </ol>
        </nav>
    </div>
    
   
    
        <div class="col-md-6">
            <div class="btn-group float-end">
                <button class="btn btn-primary" onclick="window.location.href='/manage/products/Index';" type="button" style="border-right: 2px solid #fff;">
                    Refresh Products
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" asp-page="#">Exports Products</a>
                    </li>
                </ul>
            </div>
        </div>
   

</div>
@{
    var messageType = TempData["ErrorMessage"] != null ? "danger" : "success";
    var messageIcon = TempData["ErrorMessage"] != null ? "bi bi-x-circle-fill" : "bi bi-check-circle-fill";
    var message = TempData["ErrorMessage"] ?? TempData["SuccessMessage"];
}

<!-- Notification Area -->
@if (message != null)
{
    <div class="row" style="padding: 0px 10px 15px 10px">
        <div class="alert alert-primary" role="alert">
            <h3>@message</h3>
            @if (TempData["SuccessUrl"] != null && messageType == "success")
            {
                <a href="@TempData["SuccessUrl"]" target="_blank" class="alert-link fw-light">Click here to view result.</a>
            }
        </div>
    </div>
}


<!-- Actions Bar -->
<div class="row" style="padding-bottom: 15px;">
    <!-- Bulk Actions -->
    <div class="col-md-3 bulk-action-section">
        <div id="select-all-container">
            <input type="checkbox" id="select-all" class="c-pointer form-check-input rounded-2" />
        </div>
        <div class="btn-group" id="bulkActionDropdown">
            <button type="button" class="btn btn-listing btn-primary btn-action dropdown-toggle"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
            </button>
            <div class="dropdown-menu">
                <button type="button" id="optimizeBtn" class="dropdown-item" href="#" onclick="showConfirmationModal(this, 'bulk')" data-source-id="">Optimize</button>
                <button type="submit" class="dropdown-item">Approve</button>
                <button type="submit" class="dropdown-item">Disapprove</button>
                <button type="submit" class="dropdown-item">Publish</button>
                <button type="submit" class="dropdown-item">Reset</button>
                <button type="button" id="bulkdeleteBtn" class="dropdown-item text-danger" href="#" onclick="showConfirmationModal(this, 'bulk')" data-source-id="">Delete</button>
            </div>
        </div>
    </div>

    <!-- Search Area -->
    <div class="col-md-3 d-flex" style="padding:5px">
        <form class="search-form-table d-flex" id="search-form" method="get" asp-page="/manage/products">
            <div class="input-group search-input-group">
                <input type="text" class="form-control search-box" placeholder="Search here..." name="search" id="search-input" value="@Request.Query["search"]">
                <i data-feather="search" class="c-pointer search-icon" onclick="submitSearch()"></i>
            </div>
        </form>
    </div>

    <!-- Listing Actions Buttons -->
    <div class="col-md-6" style="padding:5px">
        <div class="btn-group d-flex" role="group" style="padding-right: 1%;">
            <a href="/manage/products/?isfavorite=true" class="btn btn-listing btn-outline-secondary btn-icon-text btn-filter-group">
                <i class="btn-icon-prepend listing-icon-prepend" data-feather="bookmark"></i>
                <span class="fw-normal d-none d-md-inline-block d-lg-inline-block">Favorite</span>
            </a>
            <button type="button" class="btn btn-listing btn-outline-secondary btn-icon-text btn-filter-group" onclick="togglePopup()">
                <i class="btn-icon-prepend listing-icon-prepend" data-feather="filter"></i>
                <span class="fw-normal d-none d-md-inline-block d-lg-inline-block">Filter</span>
            </button>
            <button type="button" class="btn btn-listing btn-outline-secondary btn-icon-text btn-filter-group" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <i class="btn-icon-prepend listing-icon-prepend mdi mdi-sort"></i>
                <span class="fw-normal d-none d-md-inline-block d-lg-inline-block">Sort by</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-route-orderBy="@ViewData["TitleSortParam"]">Product</a>
                <a class="dropdown-item" asp-route-orderBy="@ViewData["OriginalContentScoreSortParam"]">Score</a>
                <a class="dropdown-item" asp-route-orderBy="@ViewData["StatusSortParam"]">Status</a>
            </div>
            <form method="post" asp-page-handler="Download" class="ms-2">
                <button type="submit" class="btn btn-listing btn-outline-secondary btn-icon-text btn-filter-group h-100">
                    <i data-feather="download" class="filter-outer-btn"></i>
                </button>
            </form>
            
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>
                    <div class="d-flex">
                        <a class="btn btn-primary me-2" asp-page="./Edit" asp-route-id="@product.ProductId">Edit</a>
                        <form method="post" asp-page-handler="Delete" asp-route-id="@product.ProductId">
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>







