@page
@model Installment.Pages.InstallmentPlans.IndexModel
@{
}
<h1>Plans List</h1>
<a asp-page="./Add" class="ml-auto" style="display: flex;
        justify-content:end;
        align-items: center;">
    <button type="submit" class="icon-button">
        <i data-feather="plus-circle"></i>
        Add Plan
    </button>
</a>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Client</th>
            <th>Price</th>
            <th>Advance</th>
            <th>Installments</th>
            <th>Paid</th>
            <th>Remaining</th>
            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plan in Model.plans)
        {
            <tr>
                <td>@plan.ProductName</td>
                <td>@plan.ClientName</td>
                <td>@plan.TotalPrice</td>
                <td>@plan.AdvancePayment</td>
                <td>@plan.NoInstallments</td>
                <td>@plan.TotalPaid</td>
                <td>@plan.RemainingAmount</td>
                
                <td>
                    <div class="row">

                        <div class="col-md-3">
                            <form method="post" asp-page-handler="Delete" asp-route-id="@plan.Id" data-toggle="tooltip" data-placement="bottom" title="Delete" >
                                <button type="submit" class="icon-button">
                                    <i data-feather="trash-2"></i>
                                </button>
                            </form>
                        </div>
                        <div class="col-md-3" style="padding-left:0px !important;">
                            <a asp-page="./Edit" asp-page-handler="Update" asp-route-id="@plan.Id" data-toggle="tooltip" data-placement="bottom" title="Edit">
                                <button type="submit" class="icon-button">
                                    <i data-feather="edit-2"></i>
                                </button>
                            </a> 
                        </div>
                        <div class="col-md-3" style="padding-left:0px !important;">
                            <a asp-page="/InstallmentPayments/Index" asp-route-InstallmentPlanId="@plan.Id" data-toggle="tooltip" data-placement="bottom" title="View Payment">
                                <i data-feather="credit-card" class="icon-button"></i>
                            </a>
                        </div>
                        <div class="col-md-3" style="padding-left:0px !important;">
                            <a asp-page="/Invoice" asp-route-Id="@plan.Id" asp-route-CompanyId="@plan.CompanyId" data-toggle="tooltip" data-placement="bottom" title="View Invoice">
                                <i data-feather="file-text" class="icon-button " title="View Invoice"></i>
                            </a>
                        </div>
                    </div>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

