@page "{InstallmentPlanId:int}"
@model Installment.Pages.InstallmentPayments.IndexModel
@{
}
<h1>Payment List</h1>

<style>
    .icon-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        font-size: 16px; /* Adjust the font size to control the size of the icon */
        color: var(--bs-primary); /* Adjust the color as needed */
    }

        .icon-button:focus {
            outline: none;
        }
</style>
<a asp-page="./Add" asp-route-InstallmentPlanId="@Model.payments.Any() ? Model.payments.First().InstallmentPlanId : 0" class="ml-auto" style="display: flex;
    justify-content:end;
    align-items: center;">
    <button type="submit" class="icon-button">
        <i data-feather="plus-circle"></i>
        Add Payment
    </button>
</a>
<table class="table">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Date</th>
            <th>Status</th>
            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model.payments)
        {
            <tr>
                <td>@payment.RecentAmount</td>
                <td>@payment.Date</td>
                <td>@payment.Status</td>
               
                <td>
                    <div class="row">
                        <div class="col-md-6">
                            <form method="post" asp-page-handler="Delete" asp-route-id="@payment.Id">
                                <button type="submit" class="icon-button">
                                    <i data-feather="trash-2"></i>
                                </button>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <a asp-page="./Edit" asp-page-handler="Update" asp-route-id="@payment.Id">
                                <button type="submit" class="icon-button">
                                    <i data-feather="edit-2"></i>
                                </button>
                            </a>
                        </div>
                        
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>