@page "{id:int}"
@model Installment.Pages.InvoiceModel
@{
    int seriesNumber = 1; // Initialize the series number
}
<h1>Invoice</h1>

<table class="table">
    <thead>
        <tr>
            <th>Series No</th>
            <th>Product</th>
            <th>Client</th>
            <th>Price</th>
            <th>Advance</th>
            <th>Installments</th>
            <th>Paid</th>
            <th>Remaining</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plan in Model.plans)
        {
            <tr>
                <td>@(seriesNumber++)</td>
                <td>@plan.ProductName</td>
                <td>@plan.ClientName</td>
                <td>@plan.TotalPrice</td>
                <td>@plan.AdvancePayment</td>
                <td>@plan.NoInstallments</td>
                <td>@plan.TotalPaid</td>
                <td>@plan.RemainingAmount</td>
                
                
            </tr>
        }
    </tbody>
</table>

